<!-- Login page -->

<form method="POST" action="/user_login_attempt">
	<input type="text" name="username" placeholder="Username"/>
	<input type="password" name="password"/>

	<input type="submit" value="login"/>
</form>
