<!-- This page "posts" or "throws" a users text submission. -->
<form method="POST" action="/submit_throw">
	<textarea type="text" name="user_throw"></textarea>
	<br>
	<input type="submit" value="Throw It"/>
</form>

<div>
	 	<% @throw.each do |th| %>
        	<p><%= th.id %> said <%= th.throwpost %> on <%= th.created_at %></p>
    	<% end %>
</div>

