<!-- This page "posts" or "throws" a users text submittion. -->
<form method="POST" action="/submit_throw">
	<textarea type="text" name="user_throw"></textarea>
	<br>
	<input type="submit" value="Throw It"/>
</form>

