<div>
<h1>List of Users</h1>
<table>
	<thead>
		<tr>
			<th>
				User Name
			</th>
			<th>
				User ID
			</th>
		</tr>
	</thead>
	<tbody>
		<% @user.each do |u| %>
		<tr>
			<td>
				<%= u.username %>
			</td>

			<td>
				<%= u.id %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>