
<form method="POST" action="/user_create">
	<input type="text" name="username" placeholder="Username"/>
	<input type="text" name="email" placeholder="Email"/>
	<input type="password" name="password" placeholder="Password"/>
	<input type="submit"/>
</form>
