/*Font Colors

#2B2D42: textarea background;
#EDF2F3: textrea text;
*/



html, body {
	margin: 0px;
	height: 100%;
	font-family: Century-Gothic, sans-serif;
}

#wrapper {
	margin: 0 auto;
	width: 1080px;
	border: 1px solid black;
}

#main_header {
	text-align: center;
	font-family: impact;
}

#throw_area {
	margin: 0 33%;
}

#throw_form {
	margin-left: auto;
	margin-right: auto;
}

textarea{
	max-height: 240px;
    min-height: 80px;
    width: 425px;
    border-radius: 10px;
    background-color: #2B2D42;
    color: #EDF2F3;
}

#throw_it_button {
	width: 200px;
	height: 50px;
	text-align: center;

}

#list_of_throws {
	width: 420px;
}

#content {
	padding-bottom: 100px;
	font: 200 1em "Source Sans Pro", Helvetica, Arial, sans-serif;
}

footer {
	background:#fff;
	width:100%;
	height:60px;
	position:fixed;
	bottom:0;
	left: 0;
 	border-top: 1px solid #EDF2F4;
}

#logo_footer {
	width: 60px;
	margin: auto 49%;
}

#copyright {
	text-align: center;
}